.sidebar {
    background-color: $black-color;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &__nav {
      display: flex;
      flex-direction: column;
  
      a {
        color: $white-color;
        font-size: 12px;
       
      }
    }
  }
  