@import "../../scss/variables";

.header {
  padding: 6px 24px;
  display: flex;
  align-items: center;
  background-color: $black-color;
  mix-blend-mode: color;
  color: #fff;

  &__logo {
    height: 41px;
    margin-right: 106px;
  }

  &__navigation {
    width: 100%;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    color: $white-color;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;

    &_active {
      text-decoration: underline;
    }
  }
}
