@import "../../scss/variables";

.dashboard {
  padding: 68px 90px 86px 107px;

  &__greeting {
    color: $true-black-color;
    font-size: 48px;
    font-weight: 500;
  }

  &__name {
    color: $red-color;
  }

  &__description {
    margin-top: 35px;
    font-size: 18px;
    font-weight: 400;
  }

  &__data {
    margin-top: 77px;
    display: flex;
    gap: 31px;
  }

  &__charts {
    display: flex;
    flex-direction: column;
    min-width: 800px;
    height: 613px;
  }

  &__charts-wrapper {
    display: flex;
    gap: 30px;
    min-width: 400px;
  }
}
