@import "../../scss/variables";

.dashboard {
  padding: 5%;
  width: 100%;

  &__greeting {
    color: $true-black-color;
    font-size: 35px;
    font-weight: 500;
  }

  &__name {
    color: $red-color;
  }

  &__description {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
  }

  &__data {
    margin-top: 30px;
    display: flex;
    gap: 18px;
  }

  &__charts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    max-width: 800px;
    height: 100%;
    gap: 20px;
  }

  &__charts-wrapper {
    display: flex;
    justify-content: space-between;
    height: 200px;
    gap: 12px;
    // min-width: 400px;
  }
}
